@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f5f5f5;
  --title-size38px: 48px;
  --secondary-color: #eaf2fd;
  --terciary-color: #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin-left: 8%;
  margin-right: 3%;
  background-color: var(--primary-color);
  font-family: "Raleway";
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 100px;
  font-size: 20px;
}

.nome {
  display: flex;
  gap: 10px;
  margin-right: auto;
  font-weight: 600;
}

#nome_estilizado {
  color: rgb(127, 126, 126);
  font-weight: 700;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}

.container_superior {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  gap: 20px;
}

.section_superior {
  display: flex;
}

.fraseIntrodutoria {
  font-size: 80px;
  font-weight: 600;
}

.fraseIntrodutoriaDescricao {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
  width: 95%;
}

.links_redes {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  gap: 48px;
  margin-bottom: 100px;
}

a .links_redes {
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 15px;
}

.seta {
  height: 18px;
}

.imgPerfil {
  width: 450px;
  height: 450px;
  border-radius: 100%;
}

/* Sobre mim */
.column_about_me {
  background-color: var(--secondary-color);
  align-items: center;
  display: flex;
  margin-top: 2%;
  margin-left: -14%;
  padding-left: 14%;
  padding-right: 14%;
  margin-right: -14%;
  width: 123.5%;
}

.container_about {
  margin-top: 70px;
  margin-bottom: 70px;
}

.tituloAboutMe {
  font-size: var(--title-size38px);
  font-weight: 600;
  margin-bottom: 30px;
}

p {
  font-size: 21px;
  margin-top: 18px;
  font-weight: 300;
}

.pAboutMe {
  width: 67%;
}

.ImgAssinatura {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  height: 20%;
}

/* Skills */
.section_skills {
  margin-top: 4%;
  margin-bottom: 4%;
}

.container_skills {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.Title_Skills {
  font-size: var(--title-size38px);
  font-weight: 600;
  margin-bottom: 30px;
}

.cards_skills {
  display: flex;
  list-style-type: none;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  justify-content: center;
}

.list_tecnologias {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid 1px transparent;
  padding: 120px 60px 14px 15px;
  background-color: var(--terciary-color);
  width: 256px;
  font-weight: 600;
  font-size: 16px;
}

.ImgLogoTec {
  display: flex;
  align-items: flex-start;
  width: 30px;
  height: 50px;
}

.ImgLogoTecPhpNode {
  width: 50px;
  height: 50px;
}

.css {
  width: 30px;
  height: 50px;
}

/* Hobbies */
.container_hobbies {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 8%;
}

/* formação acadêmica */
.section_formacao {
  display: flex;
  background-color: var(--secondary-color);
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  margin-left: -14.5%;
  margin-right: -9.5%;
  padding-bottom: 4%;
}

.container_formacao {
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 4%;
  flex-wrap: wrap;
}

.Title_formacao {
  font-size: var(--title-size38px);
  font-weight: 600;
  margin-bottom: 30px;
}

.cards_formacao {
  display: flex;
  list-style-type: none;
  gap: 48.5px;
  flex-wrap: wrap;
  justify-content: center;
}

.list_formacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 84px;
  border: 1px solid transparent;
  padding-top: 117px;
  background-color: var(--terciary-color);
  width: 497px;
  height: 298px;
  font-weight: 600;
}

.ImgLogoFormacao {
  display: flex;
  align-items: center;
  width: 227px;
  height: 167px;
}

.cards_descricao_formacao {
  display: flex;
  list-style-type: none;
  gap: 46px;
  justify-content: center;
}

.lista_descricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border: solid 1px transparent;
  padding: 15px 15px 15px 15px;
  width: 497px;
  padding: 0;
  font-weight: 700;
  font-size: 26px;
}

.titulo_descricao {
  display: flex;
  list-style-type: none;
  gap: 8px;
  padding-top: 3px;
}

.descricao_da_descricao {
  font-weight: 400;
  font-size: 16px;
}

/* experiencia */
.section_experiencia {
  margin-top: 4%;
  margin-bottom: 4%;
}

.container_experiencia {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.title_experiencia {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--title-size38px);
  font-weight: 600;
  margin-bottom: 4%;
}

.cards_experiencia {
  list-style: none;
}

.list_experiencia {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 31px;
  margin-bottom: 30px;
}

.list_experiencia2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 160px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.lista_titulo_experiencia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border: solid 1px transparent;
  padding: 15px 15px 15px 15px;
  width: 289px;
  padding: 0;
  font-weight: 700;
  font-size: 26px;
}

.lista_titulo_experiencia2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border: solid 1px transparent;
  padding: 15px 15px 15px 15px;
  width: 372px;
  padding: 0;
  font-weight: 700;
  font-size: 26px;
}

.lista_descricao_experiencia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  border: solid 1px transparent;
  font-weight: 400;
  font-size: 22px;
}

.button_descricao_experiencia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100px;
}

.buttonRepositorio {
  text-decoration: none;
  width: 140px;
  height: 60px;
  padding: 0px 11px;
  font-size: 18px;
  border: #2a7ae4 1px solid;
  color: #2a7ae4;
  font-weight: 100;
}

.buttonRepositorio:hover {
  text-decoration: none;
  background-color: #2a7ae4;
  transition: all 0.5s ease;
  transition-delay: 0.2s;
  color: var(--terciary-color);
}

#aTextDecorationRepositorio{
  text-decoration: none;
  color: #2a7ae4;
}

.buttonVerDemo {
  text-decoration: none;
  width: 130px;
  height: 62px;
  padding: 0px 11px;
  font-size: 18px;
  background-color: #2a7ae4;
  color: var(--terciary-color);
  border: 1px solid transparent;
}

.buttonVerDemo:hover {
  text-decoration: none;
  background-color: #d4e4fa;
  transition: all 0.5s ease;
  transition-delay: 0.2s;
  color: #2a7ae4;
  border: #2a7ae4 1px solid;
}

#aTextDecorationVerDemo{
  text-decoration: none;
  color: white;
}

.ImgExperiencia {
  display: flex;
  align-items: center;
  width: 1034px;
  height: 593px;
  flex-direction: row-reverse;
}

.ImgExperiencia-reverse {
  display: flex;
  width: 1034px;
  height: 593px;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-end;
}

/*rodape contato */

.section_contato {
  display: flex;
  background-color: var(--secondary-color);
  width: 112vw;
  margin-left: -15.4%;
  margin-right: -6%;
}

.container_contato {
  display: flex;
  flex-direction: column;
  width: 50%;
}

footer {
  display: flex;
  gap: 73px;
  flex-direction: row-reverse;
  width: 120vw;
  margin: 135px 10px;
}

.Title_contato {
  display: flex;
  justify-content: flex-start;
  font-size: var(--title-size38px);
  font-weight: 600;
}

.descricao_contato {
  display: flex;
  align-items: center;
  font-weight: 400;
  width: 107%;
}

.input-container {
  position: relative;
  margin-bottom: 1rem;
}

input {
  width: 80.7%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 55px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: -20px;
  left: 0;
  font-size: 12px;
  color: #555;
}

.span-required {
  display: none;
  font-size: 12px;
  margin: 3px 0 0 1px;
  color: #e63636;
}

.mensagem:focus + label,
input:not(:placeholder-shown) + label {
  top: -20px;
  left: 0;
  font-size: 12px;
  color: #555;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
  color: #999;
  transition: all 0.3s ease;
  pointer-events: none;
}

#nome {
  padding: 12px 10px;
  border-style: solid;
}

#email {
  padding: 12px 10px;
  border-style: solid;
}

#assunto {
  padding: 12px 10px;
  border-style: solid;
}

#mensagem {
  font-size: 16px;
  width: 80.7%;
  padding: 10px;
  height: 165px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Raleway";
  font-weight: 500;
}

.Img_Contato {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 38em;
}

.buttonVerMensagem {
  width: 180px;
  height: 62px;
  padding: 0px 11px;
  font-size: 18px;
  background-color: #2a7ae4;
  color: var(--terciary-color);
  border: 1px solid transparent;
  margin-top: 12%;
}

.buttonVerMensagem:hover {
  background-color: #d4e4fa;
  transition: all 0.5s ease;
  transition-delay: 0.2s;
  color: #2a7ae4;
  border: #2a7ae4 1px solid;
}

/* footer */
.container_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer_class {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #d4e4fa;
  height: 80px;
  width: 99.3vw;
  margin-right: 90px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  margin-left: -9.6%;
  margin-right: -5.9%;
}
.br_center {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

/* @media (max-width: 1218px) and (max-width: 376px) {
  .imgPerfil {
    display: none;
  }

  .pAboutMe {
    width: 100%;
  } */

@media (max-width: 454px) {
  body {
    margin-left: 4%;
    margin-right: 4%;
    overflow-x: hidden;
  }

  header {
    justify-content: space-evenly;
    margin-bottom: 40px;
  }

  .nome {
    display: flex;
    font-size: 16px;
    align-items: center;
    font-weight: 700;
  }

  .lista_nav {
    display: none;
  }

  .contato_email_nav {
    font-size: 14px;
    font-weight: 400;
  }

  .section_superior {
    flex-direction: column-reverse;
  }

  .imgPerfil {
    width: 98px;
    height: 98px;
  }

  .fraseIntrodutoria {
    font-size: 22px;
  }

  .fraseIntrodutoriaDescricao {
    font-size: 14px;
  }

  .links_redes {
    font-size: 14px;
    font-weight: 400;
    gap: 10px;
    margin-bottom: 10px;
  }

  .links {
    gap: 4px;
  }

  .seta {
    height: 10px;
  }

  .column_about_me {
    margin-left: -14%;
    padding-left: 14%;
    margin-right: -14%;
  }

  .container_about {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .tituloAboutMe {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  .pAboutMe {
    width: 100%;
  }

  .Title_Skills {
    font-size: 22px;
  }

  .list_tecnologias {
    padding: 60px 0px 16px 14px;
    background-color: var(--terciary-color);
    width: 167px;
    font-weight: 600;
  }

  .container_formacao {
    margin-bottom: -17%;
  }

  .Title_formacao {
    font-size: 22px;
  }

  .list_formacoes {
    width: 345px;
    height: 144px;
  }

  .ImgLogoFormacao {
    width: 139px;
    margin-top: -119px;
  }

  .ImgLogoTec {
    width: 30px;
    height: 37px;
  }

  .cards_formacao {
    gap: 71.5px;
    margin-bottom: 134px;
    margin-top: 0;
    padding-top: 0;
  }

  .titulo_descricao {
    align-items: center;
    position: absolute;
    margin-bottom: -93px;
    font-size: 16px;
  }

  .title_experiencia {
    font-size: 22px;
  }

  .list_experiencia {
    flex-direction: column;
    gap: 0px;
  }

  .list_experiencia2 {
    flex-direction: column;
    gap: 0px;
  }

  .ImgExperiencia {
    width: 296px;
    height: 194px;
  }

  .ImgExperiencia-reverse {
    width: 296px;
    height: 194px;
  }

  .lista_titulo_experiencia {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .lista_titulo_experiencia2 {
    margin-bottom: 40px;
    padding-left: 39px;
    font-weight: 700;
    font-size: 16px;
  }

  .lista_descricao_experiencia {
    font-size: 14px;
  }

  .lista_descricao_experiencia2 {
    font-size: 14px;
  }

  .button_descricao_experiencia {
    height: 46px;
  }

  .buttonRepositorio {
    width: 108px;
    height: 40px;
    padding: 0px 8px;
    font-size: 14px;
  }

  .buttonVerDemo {
    width: 108px;
    height: 40px;
    padding: 0px 8px;
    font-size: 14px;
  }

  .section_contato {
    flex-direction: column;
    width: 110vw;
  }

  .container_contato {
    gap: 0;
  }

  .Img_Contato {
    display: none;
  }

  footer {
    margin: 37px -79px;
    align-items: center;
    justify-content: center;
  }

  .Title_contato {
    font-size: 22px;
  }

  .descricao_contato {
    width: 143%;
    font-size: 16px;
  }

  form {
    width: 165%;
  }

  .buttonVerMensagem {
    margin-top: 32px;
    width: 171px;
    height: 48px;
  }

  .footer_class {
    width: 106.3vw;
  }
}
